<ul>
<% @pets.each do |pet| %>
  <a href="/pets/<%= pet.id %>"><li><%= pet.name %></li></a>
    <% if pet.owner %>
      <%= pet.owner.name %>
    <% else %>
      Currently has no owner
      <% end %>
<% end %>
</ul>