<!DOCTYPE html>
<html>
  <head>
    <title>My Pets</title>
  </head>

  <body>
  <nav>
    <a href="/owners">Owners</a>
    <a href="/owners/new">Create New Owner</a>
    <a href="/pets">Pets</a>
    <a href="/pets/new">Create New Pet</a>
  </nav>
    <%= yield %>
  </body>
</html>